body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  /* background-color: rgb(251, 253, 240); */
  --s: 200px;
  /* control the size */
  --c: #fff;
  /* first color */

  --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
  background:
    linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
    linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
    linear-gradient(45deg, var(--_g), var(--c) 0 67%, #0000 0 83%, var(--c) 0 92%, #0000 0),
    #1095c10f;
  /* second color */
  background-size: var(--s) var(--s);

  border: 10px solid #ffffff;

  color: rgb(106, 132, 155);
  text-align: center;
  font-family: 'Courier New';

}

.header h1 {
  margin: 0;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  font-family: 'Courier New';
}

.column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  min-width: 0;
  max-height: 90vh;

  overflow: auto;

  border: 10px solid #ffffff;
  background-color: AliceBlue;

  color: rgb(106, 132, 155);
}

.column.right {
  background-color: rgb(240, 255, 249);

  /* 
  --s: 100px;
  --_g: , #0000 60%, rgb(240, 255, 249) 0;
  background:
    linear-gradient(-45deg var(--_g)),
    linear-gradient(45deg var(--_g)) 0 calc(var(--s)/2) rgba(231, 247, 240, 0.827);
  background-size: var(--s) var(--s); 
  */

}

.column.mid {
  background-color: AliceBlue;

  /*  
  --s: 60px;
  --c1: AliceBlue;
  --c2: rgba(227, 239, 248, 0.822);

  background:
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0/calc(4*var(--s)) calc(2*var(--s)),
    conic-gradient(#0000 50%, var(--c2) 0) calc(var(--s)/2) 0/calc(2*var(--s)) 1%,
    radial-gradient(var(--c2) 70%, var(--c1) 72%) 0 0/var(--s) var(--s)
     */
}

.column.left {
  background-color: rgb(255, 240, 255);

  /* 
  --s: 160px;
  --c: rgb(255, 240, 255) 0 60deg, rgba(251, 238, 251, 0.621) 0 50%;
  background:
    repeating-conic-gradient(from -15deg, var(--c)) calc(var(--s)/2) calc(var(--s)/2),
    repeating-conic-gradient(from 15deg, var(--c)) rgb(216, 202, 216);
  background-size: var(--s) var(--s) 
  */
}

h1 {
  margin: auto;
  padding: 40px 20px 20px 20px;

  text-align: center;
  font-size: 40px;
}

h2 {
  margin: auto;
  padding: 20px 20px 0px 20px;

  font-size: 30px;
  /* filter: blur(0.5px); */
}

.img {
  width: 150px;
  height: auto;

  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

.img .text {
  visibility: hidden;
  background-color: none;
  text-align: center;
  position: relative;

  font-size: 20px;
  font-weight: bold;
}

.img:hover .text {
  visibility: visible;
}